<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tk_game_name - tk_category_name</title>

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../assets/img/logo.png">

    <meta property="og:title" content="tk_game_name - tk_category_name" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="tk_category_rules" />
    <meta property="og:url" content="tk_url/tk_category_dashname/index.html" />
    <meta property="og:image" content="https://tk_url/assets/img/logo.png" />
    <meta property="og:image:secure_url" content="https://tk_url/assets/img/logo.png" />
    <meta property="og:image:alt" content="tk_logo_alt" />

    <!-- Placeholder og:locale, replace content with your own if desired. -->
    <meta property="og:locale" content="en_US" />
</head>

<body>
    <h1><a href="../../">tk_game_name</a> - tk_category_name</h1>
    <h2 class="reduceTopMargin">Leaderboard</h2>
    <p>tk_category_rules</p>
    lk_leaderboard
</body>

</html>