<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tk_title - Leaderboard</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="assets/img/logo.png">

    <meta property="og:title" content="tk_game - Speedruns Leaderboard" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="tk_game_description" />
    <meta property="og:url" content="tk_url" />
    <meta property="og:image:secure_url" content="https://tk_url/assets/img/logo.png" />
    <meta property="og:image:alt" content="tk_logo_alt" />

    <!-- Placeholder og:locale, replace content with your own if desired. -->
    <meta property="og:locale" content="en_US" />
</head>

<body>
    <h1>tk_game - Speedruns Leaderboard</h1>
    <p>tk_description</p>

    <h2>Categories</h2>
    <!-- lk_categories -->
</body>

</html>