<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tk_game_name - tk_category_name - tk_run_runner</title>

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../assets/img/logo.png">

    <meta property="og:title" content="tk_game_name - tk_category_name - tk_run_runner" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="tk_run_description" />
    <meta property="og:url" content="tk_url/tk_run_id/index.html" />
    <meta property="og:image" content="https://tk_url/assets/img/logo.png" />
    <meta property="og:image:secure_url" content="https://tk_url/assets/img/logo.png" />
    <meta property="og:image:alt" content="tk_logo_alt" />

    <!-- Placeholder og:locale, replace content with your own if desired. -->
    <meta property="og:locale" content="en_US" />
</head>

<body>
    <h1><a href="../../">tk_game_name</a> - <a href="../../categories/tk_category_dashname">tk_category_name</a></h1>
    <h2 class="reduceTopMargin">tk_run_runner's run</h2>
    <div class="runContainer">
        <p>lk_run_duration (rank #lk_run_place)</p>
        <p class="reduceTopMargin">lk_run_link</p>
    </div>
    <p class="runDescription"><em>tk_run_description</em></p>
    <p>Verified by <strong>tk_run_verifier</strong> - Took place on <strong>tk_run_date</strong></p>
</body>

</html>